

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #efc;
  margin-left: 4em;
  margin-right: 20%;
}

.alaviiva {
  border-bottom: thin solid gray;
}

.ingressi {
    font-style: italic;
    color: red;
    font-weight: bold;
}

.vasen {
    width: 200em;
    float: left;
}

.oikea {
    width: 100em;
    float: right;
}
